:host {
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  * {
    box-sizing: border-box;
  }
  *::before {
    box-sizing: border-box;
  }
  *::after {
    box-sizing: border-box;
  }
}

slot {
  &[name="content"] {
    position: absolute;
    display: block;
    visibility: hidden;

    &.show {
      visibility: visible;
    }

    &.top {
      left: 0;
      bottom: 100%;
    }
    &.bottom {
      top: 100%;
      left: 0;
    }
    &.left {
      top: 0;
      right: 100%;
    }
    &.right {
      top: 0;
      left: 100%;
    }
  }
}
