.idea
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

build
storybook-static
.env

node_modules
package-lock.json
yarn.lock

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
