@use '~lpds/styles/colors';

$icons-sizes: (
  extra-small: 12px,
  small: 16px,
  medium: 24px,
  large: 32px,
);

:host {
  $default-size: map-get($icons-sizes, small);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $default-size;
  height: $default-size;

  path {
    fill: currentColor;
  }
}

@each $name, $size in $icons-sizes {
  :host([size="#{$name}"]) {
    width: $size;
    height: $size;
  }
}

:host([color="white"]) {
  color: colors.$white;
}
