@use '~lpds/styles/common';
@use '~lpds/styles/border-radius';
@use '~lpds/styles/spacing';
@use '~lpds/styles/colors';
@use '~lpds/styles/colors-light';
@use '~lpds/styles/transparency';
@use '~lpds/styles/typography';


@include common.prefix {
  &-button {
    display: inline-block;
    @include typography.button-label;
    text-align: center;
    color: colors.$black;
    border: none;
    @include border-radius.border-radius;
    background: none;
    @include spacing.padding(none, m, true);
    cursor: pointer;
    height: 32px;

    &:focus {
      outline: none;
      box-shadow: colors.$focus-outline;
    }
    &.light:focus {
      box-shadow: colors-light.$focus-outline;
    }

    &:active {
      box-shadow: none !important;
    }

    &:disabled {
      opacity: transparency.$disabled;
    }

    &.primary {
      color: colors.$primary-text;
      background: colors.$primary;

      &:hover:not(:disabled),
      &:focus {
        background: colors.$primary--hover;
      }

      &:active:not(:disabled) {
        background: colors.$primary--active;
      }

      &.light {
        background: colors-light.$primary;
        color: colors-light.$primary-text;

        &:hover:not(:disabled),
        &:focus {
          background: colors-light.$primary--hover;
        }

        &:active:not(:disabled) {
          background: colors-light.$primary--active;
        }
      }
    }


    &.secondary {
      background: colors.$secondary;
      color: colors.$secondary-text;

      &:hover:not(:disabled),
      &:focus {
        background: colors.$secondary--hover;
      }

      &:active:not(:disabled) {
        background: colors.$secondary--active;
        color: colors.$secondary-text--active;
      }

      &.light {
        background: colors-light.$secondary;
        color: colors-light.$secondary-text;
  
        &:hover:not(:disabled),
        &:focus {
          color: colors-light.$secondary-text--hover;
          background: colors-light.$secondary--hover;
        }
      }
    }

    &.tertiary {
      background: colors.$tertiary;
      color: colors.$tertiary-text;
      box-shadow: inset 0 0 0 2px colors.$tertiary-border;

      &:hover {
        box-shadow: inset 0 0 0 2px colors.$tertiary-border--hover;
      }

      &:focus {
        box-shadow:
          inset 0 0 0 2px colors.$tertiary-border--hover,
          colors.$focus-outline;
      }

      &:active:not(:disabled) {
        background: colors.$tertiary--active;
        color: colors.$tertiary-text--active;
        box-shadow: none;
      }

      &.light {
        background: colors-light.$tertiary;
        color: colors-light.$tertiary-text;
        box-shadow: inset 0 0 0 2px colors-light.$tertiary-border;

        &:hover {
          box-shadow: inset 0 0 0 2px colors-light.$tertiary-border--hover;
        }

        &:focus {
          box-shadow:
            inset 0 0 0 2px colors-light.$tertiary-border--hover,
            colors-light.$focus-outline;
        }

        &:active:not(:disabled) {
          background: colors-light.$tertiary--active;
          color: colors-light.$tertiary-text--active;
          box-shadow: none;
        }
      }
    }

    &.destructive {
      background: colors.$destructive;
      color: colors.$destructive-text;

      &:hover:not(:disabled),
      &:focus {
        background: colors.$destructive--hover;
      }

      &:active:not(:disabled) {
        background: colors.$destructive--active;
      }

      &.light {
        background: colors-light.$destructive;
        color: colors-light.$destructive-text;
  
        &:hover:not(:disabled),
        &:focus {
          background: colors-light.$destructive--hover;
        }
  
        &:active:not(:disabled) {
          background: colors-light.$destructive--active;
        }
      }
    }

    &.ghost {
      background: colors.$ghost;
      color: colors.$inline-text;

      &:hover:not(:disabled),
      &:focus {
        background: colors.$ghost--hover;
      }

      &:active:not(:disabled) {
        background: colors.$ghost--active;
      }

      &.light {
        background: colors-light.$ghost;
        color: colors-light.$inline-text;

        &:hover:not(:disabled),
        &:focus {
          background: colors-light.$ghost--hover;
        }

        &:active:not(:disabled) {
          background: colors-light.$ghost--active;
        }
      }
    }

    &.inline {
      padding: 2px;
      height: auto;
      color: colors.$inline-text;

      &:hover:not(:disabled),
      &:focus {
        color: colors.$inline-text--hover;
      }

      &:active:not(:disabled) {
        color: colors.$inline-text--active;
      }

      &.light {
        color: colors-light.$inline-text;

        &:hover:not(:disabled),
        &:focus {
          color: colors-light.$inline-text--hover;
        }

        &:active:not(:disabled) {
          color: colors-light.$inline-text--active;
        }
      }
    }

    &.small {
      font-size: typography.$size-small;
      height: 24px;
      @include spacing.padding(none, s, true);
    }

    &.large {
      height: 40px;
      @include spacing.padding(none, m, true);
    }
  }
}
