@use '~@liveperson-design-system/tokens/scss/border-radius';
@use '~@liveperson-design-system/tokens/scss/colors';
@use '~@liveperson-design-system/tokens/scss/colors-light';
@use '~@liveperson-design-system/tokens/scss/common';
@use '~@liveperson-design-system/tokens/scss/helpers';
@use '~@liveperson-design-system/tokens/scss/spacing';
@use '~@liveperson-design-system/tokens/scss/transparency';
@use '~@liveperson-design-system/tokens/scss/typography';

@include common.base-styles;

:host {
  --color-option-bg: transparent;
  --color-option-bg-hover: #{transparency.$light-1};
  --color-option-bg-selected: #{colors.$blue-light};
  --color-option-bg-selected-hover: #{colors.$blue-lighter};

  --color-option-label: #{colors.$navy-white};
  --color-option-label-selected: #{colors.$navy-darker};

  display: flex;
  align-items: center;
  @include typography.with-font-family;
  @include typography.input-value;
  color: var(--color-option-label);
  background-color: var(--color-option-bg);
  padding: spacing.$space-xs spacing.$space-s;
  transition: color, background-color .15s ease-out;
  cursor: pointer;
}
:host([theme="light"]) {
  --color-option-bg: #{transparency.$dark-0};
  --color-option-bg-hover: #{transparency.$dark-1};
  --color-option-bg-selected: #{colors-light.$navy};
  --color-option-bg-selected-hover: #{colors-light.$navy-dark};

  --color-option-label: #{colors-light.$navy-dark};
  --color-option-label-selected: #{colors-light.$white};
}

:host(:hover) {
  background-color: var(--color-option-bg-hover);
}

:host(:focus) {
  outline: none;
  background-color: var(--color-option-bg-hover);
}

@include helpers.host-with-attr(selected) {
  color: var(--color-option-label-selected);
  background-color: var(--color-option-bg-selected);
}
@include helpers.host-with-attr(selected, ':hover') {
  background-color: var(--color-option-bg-selected-hover);
}

@include helpers.host-with-attr(hidden) {
  display: none;
}
