.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color .15s ease-out;

  &:hover,
  &.selected {
    background-color: rgba(#000, .1);
  }
}

.icon {
  margin-bottom: 15px;
}

.name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}

.details {
  width: 100%;
  border: solid rgba(#000, .1);
  border-width: 1px 0;
  margin: 15px 0;

  :global {
    .docblock-source {
      margin: 15px 0;

      &:first-child {
        margin-top: 15px;
      }

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }
}

.details-name {
  display: flex;
  align-items: center;
}

.details-icon {
  margin-right: 7px;
}
