@use '~@liveperson-design-system/tokens/scss/border-radius';
@use '~@liveperson-design-system/tokens/scss/spacing';
@use '~@liveperson-design-system/tokens/scss/colors';
@use '~@liveperson-design-system/tokens/scss/colors-light';
@use '~@liveperson-design-system/tokens/scss/common';
@use '~@liveperson-design-system/tokens/scss/transparency';
@use '~@liveperson-design-system/tokens/scss/typography';

@include common.base-styles;

:host {
  --size-button-height: 32px;
  --size-button-padding: #{spacing.$space-m};

  --color-bg: #{transparency.$light-2};

  --color-button-bg--hover: #{transparency.$light-1};
  --color-button-bg--selected: #{colors.$navy-lightest};

  --color-button-text: #{colors.$navy-lightest};
  --color-button-text--selected: #{colors.$navy-dark};

  --color-outline: #{colors.$focus-outline};

  display: flex;
  align-items: center;
  @include typography.with-font-family;
  @include border-radius.border-radius(xxs);
  background: var(--color-bg);
}

:host([theme="light"]) {
  --color-bg: #{colors-light.$navy-lighter};

  --color-button-bg--hover: #{colors-light.$navy};
  --color-button-bg--selected: #{colors-light.$blue-dark};

  --color-button-text: #{colors-light.$navy};
  --color-button-text--selected: #{colors-light.$white};

  --color-outline: #{colors-light.$focus-outline};
}

:host([size="small"]) {
  --size-button-height: 24px;
  --size-button-padding: #{spacing.$space-s};
}

button {
  ::slotted(&) {
    display: flex;
    align-items: center;
    height: var(--size-button-height);
    @include typography.button;
    text-align: center;
    color: var(--color-button-text);
    border: none;
    @include border-radius.border-radius(xxs);
    background: transparent;
    padding: 0 var(--size-button-padding);
    cursor: pointer;
  }

  ::slotted(&:hover),
  ::slotted(&:focus) {
    background: var(--color-button-bg--hover);
  }

  ::slotted(&:focus) {
    outline: none;
    box-shadow: var(--color-outline);
  }

  ::slotted(&.selected) {
    color: var(--color-button-text--selected);
    background: var(--color-button-bg--selected);
  }
}
