$black: #000;
$navy-black: #07092E;
$navy-darkest: #090C43;
$navy-darker: #1B1F52;
$navy-dark: #3B4585;
$navy-light: #8493D6;
$navy-lighter: #BDCBFA;
$navy-lightest: #DCE4FF;
$navy-white: #FAFBFF;
$white: #FFF;

$blue-lighter: #8CACFF;
$blue-light: #4D7EFF;
$blue: #4D7EFF;
$blue-dark: #0841D4;
$blue-darker: #0632A1;

$orange-lighter: #FFC399;
$orange-light: #FCAC73;
$orange: #FF6900;
$orange-dark: #DB5A00;
$orange-darker: #A84E0A;

$periwinkle-lighter: #C9D5F3;
$periwinkle-light: #9CB3ED;
$periwinkle: #4A6EC9;
$periwinkle-dark: #3C5CAF;
$periwinkle-darker: #344C89;

$cyan-lighter: #BBF7FC;
$cyan-light: #81E5EE;
$cyan: #2DD7E6;
$cyan-dark: #24B0BC;
$cyan-darker: #1D7D86;

$green-lighter: #A1E8AD;
$green-light: #6BE17E;
$green-default: #26CC41;
$green-dark: #1AA731;
$green-darker: #09821D;

$red-lighter: #FFCED9;
$red-light: #F7A2B5;
$red: #D1153A;
$red-dark: #C2062E;
$red-darker: #9C0A28;

$yellow-lighter: #F5E6A8;
$yellow-light: #F4DB76;
$yellow: #EBBF14;
$yellow-dark: #D2AD18;
$yellow-darker: #AA8C13;

// Chart colors
$chart-violet: #C6AEF9;
$chart-pink: #F7BADA;
$chart-red: #FCAEAB;
$chart-yellow: #F6C05C;
$chart-lime: #DAF7AB;
$chart-blue: #A6B9FA;
$chart-teal: #AEF9F9;
$chart-purple: #8964D8;
$chart-gold: #C78100;
$chart-turquoise: #21A194;
$chart-navy-darker: #99AFDE;
$chart-navy-light: #BAC5EB;
$chart-ocean-darker: #7282AB;
$chart-ocean: #E5EAFE;
