$black: #000;
$navy-black: #040E29;
$navy-darkest: #13244A;
$navy-darker: #37497D;
$navy-dark: #5970AB;
$navy-light: #99AFDE;
$navy-lighter: #CBD9F5;
$navy-lightest: #E0EAFF;
$navy-white: #FAFBFF;
$white: #FFF;

$blue-lighter: #87A9FF;
$blue-light: #4579FF;
$blue: #0C50FF;
$blue-dark: #0A40CC;
$blue-darker: #073099;

$orange-lighter: #FFC9A3;
$orange-light: #FFB785;
$orange: #FA6700;
$orange-dark: #D65800;
$orange-darker: #A84E0A;

$periwinkle-lighter: #D0DBF6;
$periwinkle-light: #B2C2F1;
$periwinkle: #4667C8;
$periwinkle-dark: #3955A7;
$periwinkle-darker: #30437E;

$cyan-lighter: #85F5FF;
$cyan-light: #49E2F0;
$cyan: #19C9D9;
$cyan-dark: #079DAB;
$cyan-darker: #08717A;

$green-lighter: #8FF6B2;
$green-light: #5AD382;
$green-default: #12C34D;
$green-dark: #0C9539;
$green-darker: #057229;

$red-lighter: #FBC5C7;
$red-light: #F49FA2;
$red: #D72329;
$red-dark: #B71A20;
$red-darker: #971116;

$yellow-lighter: #F5E3A8;
$yellow-light: #F4D676;
$yellow: #E1B619;
$yellow-dark: #AF8C0D;
$yellow-darker: #866901;

// Chart colors
$chart-violet: #8964D8;
$chart-pink: #EC5FAB;
$chart-red: #EF6161;
$chart-yellow: #C78100;
$chart-lime: #6B9E1A;
$chart-blue: #5A8DFC;
$chart-teal: #21A194;
$chart-purple: #9B4677;
$chart-gold: #7A5001;
$chart-turquoise: #1F6F71;
$chart-navy-darker: #37497D;
$chart-navy-light: #99AFDE;
$chart-ocean-darker: #24294D;
$chart-ocean: #7282AB;
