@use 'sass:math';

@use './typography';

@function get-rem($size, $parent-size: typography.$size-default) {
  @return math.div($size, $parent-size) * 1rem;
}

@function get-em($size, $parent-size: typography.$size-default) {
  @return math.div($size, $parent-size) * 1em;
}

@mixin prefix {
  .lp {
    @content
  }
}

@mixin button-transparent {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
