$disabled: 0.53;

$light-0: rgba(140, 172, 255, 0.03);
$light-1: rgba(140, 172, 255, 0.08);
$light-2: rgba(140, 172, 255, 0.15);
$light-3: rgba(140, 172, 255, 0.22);
$light-4: rgba(140, 172, 255, 0.3);
$dark-0: rgba(0, 32, 116, 0.02);
$dark-1: rgba(0, 32, 116, 0.08);
$dark-2: rgba(0, 14, 116, 0.12);
$dark-3: rgba(8, 16, 74, 0.4);
$dark-4: rgba(5, 15, 66, 0.73);
