$font-roboto: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$font-roboto-mono: 'Roboto Mono', monospace, sans-serif;

$size-default: 14px;
$size-body: 14px;
$size-small: 11.67px;

$line-height-regular: 1.2; // 120%
$line-height-small: 1.2; // 120%
$line-height-large: 1.5; // 150%

$weight-light: 300; // Light
$weight-regular: 400; // Normal
$weight-medium: 500; // Medium
$weight-bold: 700; // Bold

$letter-spacing-regular: 0;
$letter-spacing-all-caps: .02em;
$letter-spacing-compact: -.02em;

$font-size-heading: (
  1: 29.03px,
  2: 24.19px,
  3: 20.16px,
  4: 16.8px,
  5: 14px,
  6: 14px,
);

@mixin main {
  font-family: $font-roboto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Modifications mixins
@mixin type-all-caps {
  letter-spacing: $letter-spacing-all-caps;
  text-transform: uppercase;
}
@mixin type-link-active {
  text-decoration: underline;
}
@mixin type-inline-emphasis {
  font-style: italic;
}
@mixin type-code {
  font-family: $font-roboto-mono;
}
@mixin type-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

// Headers mixins
@mixin header($header: 1) {
  @include main;

  font-size: map-get($font-size-heading, $header);
  line-height: $line-height-small;
  font-weight: if(
    $header == 1 or $header == 2 or $header == 3,
    $weight-bold,
      $weight-medium
  );

  @if $header == 5 {
    @include type-all-caps;
  } @else {
    letter-spacing: $letter-spacing-regular;
  }
}

// Body mixins
@mixin body($small: false) {
  @include main;
  font-size: if($small, $size-small, $size-body);
  font-weight: $weight-regular;
  line-height: $line-height-large;
  letter-spacing: $letter-spacing-regular;
}
@mixin body-bold($small: false) {
  @include body($small);
  font-weight: $weight-bold;
}
@mixin body-italic($small: false) {
  @include body($small);
  font-style: italic;
}

// Button mixins
@mixin button-label($small: false) {
  @include main;
  font-size: if($small, $size-small, $size-default);
  font-weight: $weight-bold;
  line-height: $line-height-regular;
  letter-spacing: $letter-spacing-regular;
}

// Tag mixins
@mixin tag {
  @include main;
  font-size: $size-small;
  font-weight: $weight-medium;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-compact;
}

// Table mixins
@mixin table-header {
  @include main;
  font-size: $size-default;
  font-weight: $weight-medium;
  line-height: $line-height-small;
  @include type-all-caps;
}
@mixin table-cell {
  @include main;
  font-size: $size-default;
  font-weight: $weight-regular;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}

// Input mixins
@mixin input-label {
  @include main;
  font-size: $size-small;
  font-weight: $weight-regular;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}
@mixin input-value {
  @include main;
  font-size: $size-body;
  font-weight: $weight-regular;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}

// Code mixins
@mixin code {
  @include type-code;
  font-size: $size-small;
  font-weight: $weight-regular;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}

// Charts mixins
@mixin chart-title {
  @include main;
  font-size: $size-body;
  font-weight: $weight-bold;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}
@mixin chart-axis-title {
  @include main;
  font-size: $size-small;
  font-weight: $weight-bold;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}
@mixin chart-axis-label {
  @include main;
  font-size: $size-small;
  font-weight: $weight-regular;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}
@mixin chart-number-title {
  @include main;
  font-size: map-get($font-size-heading, 3);
  font-weight: $weight-light;
  line-height: $line-height-small;
  @include type-all-caps;
  letter-spacing: $letter-spacing-regular;
}
@mixin chart-number($big: false) {
  @include main;
  font-size: map-get($font-size-heading, if($big, 1, 3));
  font-weight: $weight-light;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-regular;
}
