@use '~lpds/styles/colors';
@use '~lpds/styles/colors-light';
@use '~lpds/styles/transparency';
@use '~lpds/styles/typography';

:host {
  display: block;
  @include typography.body(true);
  color: colors.$navy-white;
}

:host([theme="light"]) {
  color: colors-light.$navy-dark;
}

:host([error]:not([error="false"])) {
  color: colors.$red-light;
}

:host([theme="light"][error]:not([error="false"])) {
  color: colors-light.$red;
}

:host([disabled]:not([disabled="false"])) {
  opacity: transparency.$disabled;
}
