@use '~lpds/styles/colors';
@use '~lpds/styles/colors-light';
@use '~lpds/styles/spacing';
@use '~lpds/styles/transparency';
@use '~lpds/styles/typography';

:host {
  --color-text: #{colors.$navy-white};

  display: flex;
  align-items: center;
  color: var(--color-text);
}

:host([theme="light"]) {
  --color-text: #{colors-light.$navy-darker};
}

:host([disabled]:not([disabled="false"])) {
  opacity: transparency.$disabled;
}

label {
  @include typography.input-label;
}

.additional-info-icon {
  margin-left: spacing.get-space(xs);
}
