$border-radius-xxxs: 2px;
$border-radius-xxs: 4px;
$border-radius-xs: 8px;
$border-radius-s: 12px;
$border-radius-m: 16px;
$border-radius-l: 24px;
$border-radius-xl: 32px;
$border-radius: (
  xxxs: $border-radius-xxxs,
  xxs: $border-radius-xxs,
  xs: $border-radius-xs,
  s: $border-radius-s,
  m: $border-radius-m,
  l: $border-radius-l,
  xl: $border-radius-xl,
);

$-border-radius: $border-radius;

@function get-border-radius($size) {
  @return map-get($border-radius, $size);
}

@mixin border-radius($border-radius) {
  @if map-has-key($-border-radius, $border-radius) {
    $border-radius: get-border-radius($border-radius);
  }

  border-radius: $border-radius;
}
