@use './box-shadow';

:export {
  shadow-s: box-shadow.$shadow-s;
  shadow-l: box-shadow.$shadow-l;
  shadow-xl: box-shadow.$shadow-xl;
  shadow-xxl: box-shadow.$shadow-xxl;

  // Text shadow
  shadow-light-text-s: box-shadow.$shadow-light-text-s;
  shadow-light-text-l: box-shadow.$shadow-light-text-l;
  shadow-dark-text-s: box-shadow.$shadow-dark-text-s;
  shadow-dark-text-l: box-shadow.$shadow-dark-text-l;

  // Layer shadow
  layering-1-light: box-shadow.$layering-1-light;
  layering-2-light: box-shadow.$layering-2-light;
  layering-1-dark: box-shadow.$layering-1-dark;
  layering-2-dark: box-shadow.$layering-2-dark;

  // Input shadow
  shadow-input-v: box-shadow.$shadow-input-v;
}
