@use './transparency';

// Light theme

$black: #000;
$white: #FFF;

// Navy
$navy-darker: #13244A;
$navy-dark: #37497D;
$navy: #5970AB;
$navy-light: #AEC1EB;
$navy-lighter: #D6E2FB;
$navy-white: #F0F5FF;

// Blue
$blue-darker: #073099;
$blue-dark: #0A40CC;
$blue: #0C50FF;
$blue-light: #4579FF;
$blue-lighter: #87A9FF;

// Orange
$orange-darker: #A84E0A;
$orange-dark: #D65800;
$orange: #FA6700;
$orange-light: #FFB785;
$orange-lighter: #FFC9A3;

// Green
$green-darker: #057229;
$green-dark: #0C9539;
$green: #12C34D;
$green-light: #5AD382;
$green-lighter: #8FF6B2;

// Red
$red-darker: #971116;
$red-dark: #B71A20;
$red: #D72329;
$red-light: #F49FA1;
$red-lighter: #FBC5C7;

// Yellow
$yellow-darker: #866901;
$yellow-dark: #AF8C0D;
$yellow: #E1B619;
$yellow-light: #F4D676;
$yellow-lighter: #F5E3A8;

// Chart colors
$chart-blue: #7B9DF9;
$chart-yellow: #FDBA2B;
$chart-red: #AA2743;
$chart-violet: #7556B8;
$chart-green: #55AB44;
$chart-pink: #E496D2;
$chart-navy-light: $navy-light;
$chart-navy-lighter: $navy-lighter;

// Focus
$focus-outline: 0 0 0 2px $white, 0 0 0 4px $blue;

$colors: (
  black: $black,
  white: $white,

  navy-darker: $navy-darker,
  navy-dark: $navy-dark,
  navy: $navy,
  navy-light: $navy-light,
  navy-lighter: $navy-lighter,
  //navy-lightest: $navy-lightest,
  navy-white: $navy-white,

  blue-darker: $blue-darker,
  blue-dark: $blue-dark,
  blue: $blue,
  blue-light: $blue-light,
  blue-lighter: $blue-lighter,

  orange-darker: $orange-darker,
  orange-dark: $orange-dark,
  orange: $orange,
  orange-light: $orange-light,
  orange-lighter: $orange-lighter,

  green-darker: $green-darker,
  green-dark: $green-dark,
  green: $green,
  green-light: $green-light,
  green-lighter: $green-lighter,

  red-darker: $red-darker,
  red-dark: $red-dark,
  red: $red,
  red-light: $red-light,
  red-lighter: $red-lighter,

  yellow-darker: $yellow-darker,
  yellow-dark: $yellow-dark,
  yellow: $yellow,
  yellow-light: $yellow-light,
  yellow-lighter: $yellow-lighter,

  chart-blue: $chart-blue,
  chart-yellow: $chart-yellow,
  chart-red: $chart-red,
  chart-violet: $chart-violet,
  chart-green: $chart-green,
  chart-pink: $chart-pink,
  chart-navy-light: $chart-navy-light,
  chart-navy-lighter: $chart-navy-lighter,
  //chart-navy: $chart-navy,

  focus-outline: $focus-outline,
);
