@use './colors-light';

:export {
  // Navy
  navyDarker: colors-light.$navy-darker;
  navyDark: colors-light.$navy-dark;
  navy: colors-light.$navy;
  navyLight: colors-light.$navy-light;
  navyLighter: colors-light.$navy-lighter;
  //navyLightest: colors-light.$navy-lightest;
  navyWhite: colors-light.$navy-white;

  // Blue
  blueDarker: colors-light.$blue-darker;
  blueDark: colors-light.$blue-dark;
  blue: colors-light.$blue;
  blueLight: colors-light.$blue-light;
  blueLighter: colors-light.$blue-lighter;

  // Orange
  orangeDarker: colors-light.$orange-darker;
  orangeDark: colors-light.$orange-dark;
  orange: colors-light.$orange;
  orangeLight: colors-light.$orange-light;
  orangeLighter: colors-light.$orange-lighter;

  // Green
  greenDarker: colors-light.$green-darker;
  greenDark: colors-light.$green-dark;
  green: colors-light.$green;
  greenLight: colors-light.$green-light;
  greenLighter: colors-light.$green-lighter;

  // Red
  redDarker: colors-light.$red-darker;
  redDark: colors-light.$red-dark;
  red: colors-light.$red;
  redLight: colors-light.$red-light;
  redLighter: colors-light.$red-lighter;

  // Yellow
  yellowDarker: colors-light.$yellow-darker;
  yellowDark: colors-light.$yellow-dark;
  yellow: colors-light.$yellow;
  yellowLight: colors-light.$yellow-light;
  yellowLighter: colors-light.$yellow-lighter;

  // Chart colors
  chartBlue: colors-light.$chart-blue;
  chartYellow: colors-light.$chart-yellow;
  chartRed: colors-light.$chart-red;
  chartViolet: colors-light.$chart-violet;
  chartGreen: colors-light.$chart-green;
  chartPink: colors-light.$chart-pink;
  chartNavyLight: colors-light.$chart-navy-light;
  //chartNavy: colors-light.$chart-navy;
}
