@use 'sass:math';

@use './typography';

@function get-rem($size, $parent-size: typography.$size-default) {
  @return math.div($size, $parent-size) * 1rem;
}

@function get-em($size, $parent-size: typography.$size-default) {
  @return math.div($size, $parent-size) * 1em;
}

@mixin button-transparent {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@mixin host-with-attr($attr, $with-selector: '', $with-parent: false) {
  $selector: '[#{$attr}]:not([#{$attr}="false"])#{$with-selector}';

  @if $with-parent {
    :host(#{$selector}) & {
      @content;
    }
  } @else {
    :host(#{$selector}) {
      @content;
    }
  }
}

@mixin export-list($list, $key-prefix: '') {
  @each $key, $value in $list {
    :export {
      #{$key-prefix}#{$key}: $value;
    }
  }
}
