$width-laptop: 900px;
$width-desktop: 1200px;
$width-desktop-large: 1600px;
$breakpoints: (
  laptop: $width-laptop,
  desktop: $width-desktop,
  desktop-large: $width-desktop-large,
);

@mixin media($breakpoint, $up: true) {
  @if (map-has-key($breakpoints, $breakpoint)) {
    $breakpoint: map-get($breakpoints, $breakpoint);
  }

  @if $up {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint - 1px) {
      @content;
    }
  }
}

@mixin media-from-to($from, $to) {
  @if (map-has-key($breakpoints, $from)) {
    $from: map-get($breakpoints, $from);
  }

  @if (map-has-key($breakpoints, $to)) {
    $to: map-get($breakpoints, $to) - 1px;
  }

  @media (min-width: $from) and (max-width: $to) {
    @content;
  }
}
