@use './helpers';
@use './responsive';

$spaces-none: 0;
$spaces-xxs: 4px;
$spaces-xs: 8px;
$spaces-s: 12px;
$spaces-m: 16px;
$spaces-l: 24px;
$spaces-xl: 32px;
$spaces-xxl: 52px;
$spaces-xxxl: 84px;
$spaces: (
  none: $spaces-none,
  xxs: $spaces-xxs,
  xs: $spaces-xs,
  s: $spaces-s,
  m: $spaces-m,
  l: $spaces-l,
  xl: $spaces-xl,
  xxl: $spaces-xxl,
  xxxl: $spaces-xxxl,
);

@mixin padding($size, $hSize: null) {
  @if map-has-key($spaces, $size) {
    $size: map-get($spaces, $size);
  }

  @if map-has-key($spaces, $hSize) {
    $hSize: map-get($spaces, $hSize);
  }

  @if $hSize {
    padding: $size $hSize;
  } @else {
    padding: $size;
  }
}

@mixin margin($size, $hSize: null) {
  @if map-has-key($spaces, $size) {
    $size: map-get($spaces, $size);
  }

  @if map-has-key($spaces, $hSize) {
    $hSize: map-get($spaces, $hSize);
  }

  @if $hSize {
    margin: $size $hSize;
  } @else {
    margin: $size;
  }
}

@mixin auto-spacing(
  $breakpoints: (
    mobile: (xs, s),
    laptop: (s, m),
    desktop: (m, l),
    desktop-large: (l, xl),
  ),
  $rule: padding,
) {
  @each $key, $value in $breakpoints {
    @if type-of($value) == list {
      @each $k in $value {
        @if map-has-key($spaces, $k) {
          $value: set-nth($value, index($value, $k), map-get($spaces, $k));
        }
      }

      $value: join($value);
    } @else if map-has-key($spaces, $value) {
      $value: map-get($spaces, $value);
    }

    @if $key == mobile {
      @include responsive.media(laptop, false) {
        @include helpers.rule($rule, $value);
      }
    } @else {
      @include responsive.media($key) {
        @include helpers.rule($rule, $value);
      }
    }
  }
}
