@use '~@liveperson-design-system/tokens/scss/colors';
@use '~@liveperson-design-system/tokens/scss/colors-light';
@use '~@liveperson-design-system/tokens/scss/transparency';
@use '~@liveperson-design-system/tokens/scss/typography';

:host {
  display: block;
  @include typography.body(true);
  color: colors.$navy-white;
}

:host([theme="light"]) {
  color: colors-light.$navy-dark;
}

:host([error]:not([error="false"])) {
  color: colors.$red-light;
}

:host([theme="light"][error]:not([error="false"])) {
  color: colors-light.$red;
}

:host([disabled]:not([disabled="false"])) {
  opacity: transparency.$disabled;
}
