@use '~@liveperson-design-system/tokens/scss/common';

@include common.base-styles;

:host {
  position: relative;
  display: inline-block;
}

#content {
  position: absolute;
  display: block;
  visibility: hidden;

  :host(.show) & {
    visibility: visible;
  }

  :host(.top) & {
    left: 0;
    bottom: 100%;
  }

  :host(.bottom) & {
    top: 100%;
    left: 0;
  }

  :host(.left) & {
    top: 0;
    right: 100%;
  }

  :host(.right) & {
    top: 0;
    left: 100%;
  }
}
