@use '~@liveperson-design-system/tokens/scss/border-radius';
@use '~@liveperson-design-system/tokens/scss/colors';
@use '~@liveperson-design-system/tokens/scss/colors-light';
@use '~@liveperson-design-system/tokens/scss/common';
@use '~@liveperson-design-system/tokens/scss/spacing';
@use '~@liveperson-design-system/tokens/scss/transparency';
@use '~@liveperson-design-system/tokens/scss/typography';

:host {
  --color-checkbox: #{colors.$navy-white};
  --color-checkbox-hover: #{rgba(colors.$cyan, .3)};
  --color-checkbox-active: #{rgba(colors.$cyan, .8)};

  --color-checkbox-checked: #{colors.$cyan};
  --color-checkbox-checked-hover: #{rgba(colors.$cyan, .85)};
  --color-checkbox-checked-active: #{colors.$cyan-darker};

  --color-checkbox-checked-icon: #{colors.$navy-darker};

  --color-checkbox-outline: #{colors.$focus-outline};

  --color-label: #{colors.$navy-white};
  --color-label-hover: #{colors.$navy-white};
  --color-label-active: #{colors.$navy-white};

  display: inline-block;
  vertical-align: middle;
  @include typography.input-label;
  padding: 1px 0;
  cursor: pointer;
}
:host([theme="light"]) {
  --color-checkbox: #{colors-light.$navy-light};
  --color-checkbox-hover: #{rgba(colors-light.$periwinkle, .3)};
  --color-checkbox-active: #{rgba(colors-light.$periwinkle, .8)};

  --color-checkbox-checked: #{colors-light.$blue-light};
  --color-checkbox-checked-hover: #{rgba(colors-light.$blue-dark, .85)};
  --color-checkbox-checked-active: #{colors-light.$blue-lighter};

  --color-checkbox-checked-icon: #{colors-light.$navy-white};

  --color-checkbox-outline: #{colors-light.$focus-outline};

  --color-label: #{colors-light.$navy-dark};
  --color-label-hover: #{colors-light.$navy-darker};
  --color-label-active: #{colors-light.$navy-darker};
}

:host([error]:not([error="false"])) {
  --color-checkbox: #{colors.$red-light};
  --color-checkbox-hover: #{rgba(colors.$red-light, .3)};
  --color-checkbox-active: #{rgba(colors.$red-light, .8)};

  --color-checkbox-checked: #{colors.$red-light};
  --color-checkbox-checked-hover: #{rgba(colors.$red-light, .85)};
  --color-checkbox-checked-active: #{rgba(colors.$red-light, .5)};
}
:host([theme="light"][error]:not([error="false"])) {
  --color-checkbox: #{colors-light.$red};
  --color-checkbox-hover: #{rgba(colors-light.$red, .3)};
  --color-checkbox-active: #{rgba(colors-light.$red, .8)};

  --color-checkbox-checked: #{colors-light.$red};
  --color-checkbox-checked-hover: #{rgba(colors-light.$red, .85)};
  --color-checkbox-checked-active: #{rgba(colors-light.$red, .5)};

  --color-label: #{colors-light.$red};
}

$checkbox-size: common.get-em(16px, typography.$size-small);
$checkbox-borders: inset 0 0 0 2px var(--color-checkbox);
$checkbox-offset: common.get-em(spacing.get-space(xs), typography.$size-small);

label {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  color: var(--color-label);
  cursor: pointer;

  :host([labelPosition="left"]) & {
    flex-direction: row-reverse;
  }
}

input {
  &[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &[disabled] {
      + .label {
        opacity: transparency.$disabled;
        cursor: default;
      }
    }

    &:not([disabled]) {
      &:focus {
        + .label {
          .check-box {
            background-color: var(--color-checkbox-hover);
            box-shadow: $checkbox-borders, var(--color-checkbox-outline);
          }
        }
      }

      + .label {
        &:hover {
          .check-box {
            background-color: var(--color-checkbox-hover);
          }
        }

        &:active {
          .check-box {
            background-color: var(--color-checkbox-active);
          }
        }
      }

      &:checked,
      &:indeterminate {
        &:focus {
          + .label {
            .check-box {
              background-color: var(--color-checkbox-checked-hover);
              box-shadow: var(--color-checkbox-outline);
            }
          }
        }

        + .label {
          &:hover {
            .check-box {
              background-color: var(--color-checkbox-checked-hover);
            }
          }

          &:active {
            .check-box {
              background-color: var(--color-checkbox-checked-active);
            }
          }
        }
      }
    }

    &:checked,
    &:indeterminate {
      + .label {
        .check-box {
          background-color: var(--color-checkbox-checked);
          box-shadow: none;
        }
      }
    }
  }
}

.check-box {
  display: block;
  width: $checkbox-size;
  height: $checkbox-size;
  border-radius: border-radius.get-border-radius(xxxs);
  fill: none;
  box-shadow: $checkbox-borders;
  margin-right: $checkbox-offset;
  transition: all .15s ease-out;

  :host([labelPosition="left"]) & {
    margin-left: $checkbox-offset;
    margin-right: 0;
  }

  path {
    stroke: var(--color-checkbox-checked-icon);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
