@use '~lpds/styles/border-radius';
@use '~lpds/styles/spacing';
@use '~lpds/styles/colors';
@use '~lpds/styles/colors-light';
@use '~lpds/styles/common';
@use '~lpds/styles/transparency';
@use '~lpds/styles/typography';

:host {
  --color-border: #{transparency.$light-1};
  --color-border-hover: #{transparency.$light-2};
  --color-border-focus: #{transparency.$light-3};

  --color-outline: #{colors.$focus-outline};

  --color-bg: #{transparency.$light-2};
  --color-bg-hover: #{transparency.$light-3};
  --color-bg-focus: #{transparency.$light-3};

  --color-text: #{colors.$navy-lightest};

  display: inline-flex;
  align-items: center;
  @include typography.button-label;
  white-space: nowrap;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  @include border-radius.border-radius(xl);
  background-color: var(--color-bg);
  padding: spacing.get-space(xs, true) spacing.get-space(s, true);
  cursor: default;
  transition: all .15s ease-out;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:host(:hover) {
  border-color: var(--color-border-hover);
  background-color: var(--color-bg-hover);
}

:host(:focus) {
  border-color: var(--color-border-focus);
  outline: none;
  background-color: var(--color-bg-focus);
  box-shadow: var(--color-outline);
}

:host([theme="light"]) {
  --color-border: #{transparency.$dark-2};
  --color-border-hover: #{transparency.$dark-2};
  --color-border-focus: #{transparency.$dark-2};

  --color-outline: #{colors-light.$focus-outline};

  --color-bg: #{colors-light.$periwinkle-lighter};
  --color-bg-hover: #{colors-light.$periwinkle-light};
  --color-bg-focus: #{colors-light.$periwinkle-light};

  --color-text: #{colors-light.$navy-darker};
}

:host([size="small"]) {
  @include typography.tag;
  padding: spacing.get-space(xxs, true) spacing.get-space(xs, true);
}

button {
  display: block;
  @include common.button-transparent;
  margin-left: spacing.get-space(xxs) * -1;
  margin-right: spacing.get-space(xxs);

  > * {
    display: block;
  }
}
