.list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    padding: 15px 0;
    transition: background-color .15s ease-out;

    &:hover {
      background-color: rgba(#000, .1);
    }
  }
}

.icon {
  display: block;
  margin-bottom: 15px;
}

.name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}
