@use '~@liveperson-design-system/tokens/scss/border-radius';
@use '~@liveperson-design-system/tokens/scss/colors';
@use '~@liveperson-design-system/tokens/scss/colors-light';
@use '~@liveperson-design-system/tokens/scss/spacing';
@use '~@liveperson-design-system/tokens/scss/transparency';
@use '~@liveperson-design-system/tokens/scss/typography';

:host {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  color: colors.$navy-white;
}

:host([theme="light"]) {
  color: colors-light.$navy-dark;
}

$icon-size: 16px;
$icon-offset: spacing.get-space(xs);
$padding-size-v: spacing.get-space(xs, true);
$padding-size-h: spacing.get-space(s, true);

textarea {
  flex-grow: 1;
  max-width: 100%;
  font: inherit;
  text-align: left;
  @include typography.input-value;
  min-height: 82px;
  color: inherit;
  border: 1px solid transparency.$light-4;
  outline: none;
  border-radius: border-radius.get-border-radius();
  background: transparency.$light-2;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(#fff, 0);
  padding: $padding-size-v $padding-size-h;
  margin: 0;
  resize: none;
  transition: all .15s ease-out;

  :host([theme="light"]) & {
    border-color: colors-light.$navy-light;
    background-color: colors-light.$white;
  }

  // States
  &[disabled] {
    opacity: transparency.$disabled;
  }

  &:not([disabled]) {
    &:hover {
      border-color: colors.$navy-white;

      :host([theme="light"]) & {
        border-color: colors-light.$navy;
      }
    }

    &:active,
    &:focus {
      border-color: colors.$cyan;

      :host([theme="light"]) & {
        border-color: colors-light.$periwinkle;
      }
    }

    &:focus {
      box-shadow: colors.$focus-outline;

      :host([theme="light"]) & {
        box-shadow: colors-light.$focus-outline;
      }
    }

    :host([error]:not([error="false"])) & {
      border-color: colors.$red-light;
    }

    :host([theme="light"][error]:not([error="false"])) & {
      border-color: colors-light.$red;
    }

    &[readOnly] {
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
      padding: 0;

      $padding-size-with-icon: $icon-size + $icon-offset;

      &.with-icon-left {
        padding-left: $padding-size-with-icon;
      }

      &.with-icon-right {
        padding-right: $padding-size-with-icon;
      }
    }

    &:not([readOnly]) {
      :host([resizable]:not([resizable="false"])) & {
        resize: vertical;
      }
    }
  }

  // Text align
  :host([textAlign="center"]) & {
    text-align: center;
  }

  :host([textAlign="right"]) & {
    text-align: right;
  }

  $padding-size-with-icon: $icon-size + $padding-size-h + $icon-offset;

  &.with-icon-left {
    padding-left: $padding-size-with-icon;
  }

  &.with-icon-right {
    padding-right: $padding-size-with-icon;
  }
}

slot[name^="icon-"] {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 38px;
  user-select: none;
  pointer-events: none;
  transition: all .15s ease-out;

  &[name$="left"] {
    left: $padding-size-h;

    :host([readOnly]:not([readOnly="false"])) & {
      left: 0;
    }
  }

  &[name$="right"] {
    right: $padding-size-h;

    :host([readOnly]:not([readOnly="false"])) & {
      right: 0;
    }
  }

  :host([error]:not([error="false"])) & {
    color: colors.$red-light;
  }

  :host([theme="light"][error]:not([error="false"])) & {
    color: colors-light.$red;
  }
}
