@use '~lpds/styles/border-radius';
@use '~lpds/styles/spacing';
@use '~lpds/styles/colors';
@use '~lpds/styles/colors-light';
@use '~lpds/styles/typography';

:host {
  .wrap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}

:host([theme="light"]) {
  ::slotted(button) {
    color: colors-light.$periwinkle-darker;
    background: colors-light.$periwinkle-lighter;
  }

  ::slotted(button:hover) {
    background: colors-light.$periwinkle-light;
  }

  ::slotted(button:focus) {
    box-shadow: colors-light.$focus-outline;
  }

  ::slotted(button.active) {
    color: colors.$navy-white;
    background: colors.$periwinkle-dark;
  }
}

:host([size="small"]) {
  ::slotted(button) {
    height: 24px;
    @include spacing.padding(none, s, true);
  }
}

button {
  ::slotted(&) {
    display: flex;
    align-items: center;
    height: 32px;
    @include typography.button-label(true);
    text-align: center;
    color: colors.$navy-white;
    border: none;
    background: colors.$periwinkle-darker;
    @include spacing.padding(none, m, true);
    cursor: pointer;
  }

  ::slotted(&:first-child) {
    border-top-left-radius: border-radius.get-border-radius();
    border-bottom-left-radius: border-radius.get-border-radius();
  }

  ::slotted(&:last-child) {
    border-top-right-radius: border-radius.get-border-radius();
    border-bottom-right-radius: border-radius.get-border-radius();
  }

  ::slotted(&:hover) {
    background: colors.$periwinkle-dark;
  }

  ::slotted(&:focus) {
    z-index: 0;
    outline: none;
    box-shadow: colors.$focus-outline;
  }

  ::slotted(&.active) {
    color: colors.$navy-dark;
    background: colors.$periwinkle-lighter;
  }
}
